
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Agency.Feature.Media.Models.PageFooter>
@using Glass.Mapper.Sc.Web.Mvc

@if (IsInEditingMode)
{
    if (Html.Glass().Model == null)
    {
        <p>Team Item - No datasource found, please associate a datasource.</p>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">@Editable(x => x.Copyright)</span>
                </div>
                <div class="col-md-4">
                    <!---->
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            @using (BeginRenderLink(x => x.Twitter, null, true))
                            {
                                <i class="fa fa-twitter"></i>
                            }
                        </li>
                        
                        <li class="list-inline-item">
                            @using (BeginRenderLink(x => x.Facebook, null, true))
                            {
                                <i class="fa fa-facebook"></i>
                            }
                        </li>
                        <li class="list-inline-item">
                            @using (BeginRenderLink(x => x.Linkedin, null, true))
                            {
                                <i class="fa fa-linkedin"></i>
                            }
                        </li>
                    </ul>
                    <!---->

                </div>
                <div class="col-md-4">
                    <!---->
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            @RenderLink(x => x.Privacy, isEditable: true)
                        </li>
                        <li class="list-inline-item">
                            @RenderLink(x => x.TermOfUse, isEditable: true)
                        </li>
                    </ul>
                    <!---->
                </div>
            </div>
        </div>

    }
}

else if (!IsInEditingMode && Html.Glass().Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">@Model.Copyright</span>
            </div>
            <div class="col-md-4">
                <!---->
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        @if (Model.Twitter != null)
                        {
                            <a href="@Model.Twitter.Url">
                                <i class="fa fa-twitter"></i>
                            </a>
                        }
                    </li>
                    <li class="list-inline-item">
                        @if (Model.Facebook != null)
                        {
                            <a href="@Model.Facebook.Url">
                                <i class="fa fa-facebook"></i>
                            </a>
                        }
                    </li>
                    <li class="list-inline-item">
                        @if (Model.Linkedin != null)
                        {
                            <a href="@Model.Linkedin.Url">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        }
                    </li>
                </ul>
                <!---->
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        @if (Model.Privacy != null)
                        {
                            <a href="@Model.Privacy.Url">
                            </a>
                        }
                    </li>
                    <li class="list-inline-item">
                        @if (Model.TermOfUse != null)
                        {
                            <a href="@Model.TermOfUse.Url">
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
